$main-color: white;
$second-color: rgb(0, 0, 0);
$third-color: green;
$fourth-color: yellow;
$fifth-color: orange;

$font-primary: 'PT Serif Caption', serif;
$font-secondary: "Kantumruy Pro", sans-serif;
$font-tertiary: "PT Sans", sans-serif;
