@import 'variables.scss';
@import 'responsive.scss';


* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0% 2%;
}

nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
      white-space: nowrap;

      a {
        font-family: $font-primary;
        font-weight: 500;
        text-decoration: none;
        color: $second-color;
      }
    }
  }
}

.logo {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;

  a:hover {
    color: rgb(117, 84, 0);
  }
}

.titulo {
  font-size: 30px;
  letter-spacing: 12px;

  span {
    font-size: 13px;
    letter-spacing: 0px;
    padding-left: 31%;
  }
}

h1 {
  display: flex;
  text-align: justify;
  width: 100%;
  font-size: 8vw;
  justify-content: center;
  align-items: center;
  font-family: $font-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 5vh;
  transform: scaleY(0.8);
}

h2 {
  font-family: $font-secondary;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-left: 3%;
  font-size: 6vw;
  transform: scaleY(0.8);
  line-height: 70px;

  span {
    margin-left: 6%;
  }
}

h3 {
  display: flex;
  font-size: 10px;
  justify-content: flex-start;
  font-family: $font-tertiary;
  font-weight: 400;
  font-style: italic;
  margin-right: 80px;
  margin-left: 2px;
  letter-spacing: 0.6px;
}

.grid1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90px 300px;
  column-gap: 1%;
  row-gap: 2%;
  margin: 4%;
}

.grid2 {
  display: grid;
  grid-template-columns: 46.5% 46.5%;
  grid-template-rows: repeat(5, 75vh);
  margin: 5% 18%;
  column-gap: 4vw;
  row-gap: 3vw;
  overflow: hidden;
}

.minigrid {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
  align-items: center;
}

section .jeje {
  grid-area: 1 / 1 / 3 / 2;
}

.tamanio {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tamanio2 {
  height: 92%;
  width: 100%;
  object-fit: cover;
}

p {
  display: flex;
  justify-content: center;
}

.botonsito,
.botonn {
  background-color: $second-color;
  color: $main-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botonsito {
  width: 10vw;
  height: 6vh;
}

.botonn {
  height: 7vh;
  width: 9vw;
}

footer {
  border-top: solid 2px rgba(150, 150, 150, 0.323);
  height: 10vh;
}

.footerA {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 20px;
  padding: 0;
  height: 10vh;

  li {
    margin-left: 20px;

    a {
      font-family: $font-primary;
      font-weight: 500;
      text-decoration: none;
      color: $second-color;
    }
  }
}

.separado {
  margin-left: 46vw;
}

.contenedor1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
